DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/sofstake?schema=public"
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-strong-secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co
NEXT_PUBLIC_SOCKET_SERVER_URL=http://localhost:4000
SOCKET_PORT=4000
PLATFORM_FEE=0.1
